[pause_resume]

[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(25)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G0028
    QUAD_GANTRY_LEVEL
    G0028 Z
    G0 X175 Y175 Z30 F3600
    RESTORE_GCODE_STATE NAME=STATE_G32

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G0028
    {% endif %}

[gcode_macro _CQGL]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        QUAD_GANTRY_LEVEL
        G0028 Z
    {% endif %}

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
    QUAD_GANTRY_LEVEL_BASE horizontal_move_z=10 retry_tolerance=1.000
    QUAD_GANTRY_LEVEL_BASE horizontal_move_z=2

#####################################################################
#   print_start macro - by @jontek2
#####################################################################

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Screw_tilt_adjust if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one

# PRINT_START BED=110 HOTEND=270 FILAMENT=Sparkle ABS+ MATERIAL=ABS NOZZLE=0.4 ACCEL=10000

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_hotend = params.HOTEND|int %}
#  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  {% set filament = params.FILAMENT|default("Sparkle ABS+")|string %}
  {% set material = params.MATERIAL|default("ABS")|string %}
  {% set nozzle = params.NOZZLE|default("0.4")|string %}
  {% set accel = params.ACCEL|default("1000")|int %}
  SETUP_KAMP_MESHING DISPLAY_PARAMETERS=1 LED_ENABLE=1 FUZZ_ENABLE=1
  SETUP_VORON_PURGE DISPLAY_PARAMETERS=1 ADAPTIVE_ENABLE=1  
  SET_CHAMBER_LEDS_ON
  FOCUS_CAMERA

  {% if params.ACCEL|int > 20000 %}
    SET_PRESSURE_ADVANCE ADVANCE=0.013 SMOOTH_TIME=0.015
  {% else %}
    SET_PRESSURE_ADVANCE ADVANCE=0.018 SMOOTH_TIME=0.020
  {% endif %}

  {% if params.ACCEL|int < 1100 %}
    SET_PRESSURE_ADVANCE ADVANCE=0.055 SMOOTH_TIME=0.040
  {% endif %}

  ##  Uncomment for bed mesh (1 of 2)
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)
  #M84                  # disengage all motors
    M104 S150
    # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    STATUS_HEATING                                      # Sets LEDs to heating-mode
    M106 S255                                           # Turns on the PT-fan

    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turns on the nevermore

  #   G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
  #   TEMPERATURE_WAIT SENSOR="temperature_sensor Chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  # If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    STATUS_HEATING                                      # Sets LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
#    SET_DISPLAY_TEXT MSG="Soak for 5min"                # Displays info
#    G4 P300000                                          # Waits 5 min for the bedtemp to stabilize
  {% endif %}

    ##  Uncomment for Trident (screw_tilt_adjust)
  #SET_DISPLAY_TEXT MSG="Z-tilt adjust"     # Displays info
  #STATUS_LEVELING                          # Sets LEDs to leveling-mode
  #Z_TILT_ADJUST                            # Levels the buildplate via z_tilt_adjust
  #G28 Z                                    # Homes Z again after z_tilt_adjust

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  STATUS_HOMING         # Sets LEDs to homing-mode
  SET_DISPLAY_TEXT MSG="Full Home (XYZ)"
  G28 X
  G28                 # Full home (XYZ)
  G90                 # Absolute position
    
  STATUS_CLEANING
  CLEAN_NOZZLE

  ##  Uncomment for V2 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="QGL"      # Displays info
  STATUS_LEVELING                 # Sets LEDs to leveling-mode
  QUAD_GANTRY_LEVEL               # Levels the buildplate via QGL

  SET_DISPLAY_TEXT MSG="Homing Z"
  STATUS_HOMING
  G28 Z

  ##  Uncomment for bed mesh (2 of 2)
  SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  STATUS_MESHING                     # Sets LEDs to bed mesh-mode
  BED_MESH_CALIBRATE
  
  ##  Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_hotend}c"             # Displays info
  STATUS_HEATING                                              # Sets LEDs to heating-mode
  MOVE_TO_PURGE_BUCKET
  M107                                                        # Turns off partcooling fan
  M109 S{target_hotend}                                       # Heats the nozzle to printing temp
  
  ##  Uncomment for nozzle brush
  STATUS_CLEANING
  #PURGE TEMP={EXTRUDER_TEMP}
  CLEAN_NOZZLE

  ##  Uncomment if you have a Nevermore.
  SET_FAN_SPEED FAN=BedFans SPEED=0.6

  VORON_PURGE

  ## Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Printing now!"             # Displays info
  STATUS_PRINTING                                  # Sets LEDs to printing-mode
  G90                                              # Absolute position

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
    M104 S150                                    # Heats the nozzle to 150c    
    TURN_OFF_HEATERS
 
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
	#SET_FAN_SPEED FAN=BedFans SPEED=1.0
    #TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM=75   # Waits for bed to reach desired temp
    #SET_FAN_SPEED FAN=BedFans SPEED=0.0        # Turns off the nevermore
    M107                                       # turn off fan
#    SONG_STARWARS_IMP
    STATUS_READY
    BED_MESH_CLEAR
    SET_DISPLAY_TEXT MSG="Print Done!"           # Displays info
    M84
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

[gcode_macro X_TEST]
gcode:
  G0 X340 Y175 F60000
  G0 X10 Y175 F60000