[stepper_x]
endstop_pin: EBB36:ESTOP1

[stepper_y]
endstop_pin: PF2

[safe_z_home]
#  XY Location of the Z Endstop Switch
#  Update -10,-10 to the XY coordinates of your endstop pin 
#  (such as 157,305) after going through Z Endstop Pin
#  Location Definition step.
home_xy_position: 175,175
speed: 100
z_hop: 10